body {
	margin: 0;
	padding: 0;
	display: block;
	font-family: 'Montserrat', sans-serif;
	background-color: #808080;
}

.topnavi {
	height: 50px;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	background-color: #333;
}

.topnavi a {
	float: right;
	color: white;
	font-size: 18px;
	text-align: center;
	padding: 13px;
	text-decoration: none;
}

.topnavi a:hover {
	color: black;
	background-color: white;
}

.top-cloud {
	width: 450px;
	height: 230px;
}

.top-container {
	background-color: #51D1F2;
	width: 450px;
	height: 919px;
	float: left;
	display: inline-block;
	margin-bottom: 0;
}

.top-container h1 {
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 55px;
	font-family: "Lobster", serif;
	color: black;
	text-align: center;
}

.second-heading {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	text-align: center;
}

.top-container h2 {
	font-family: 'Merriweather', serif;
	color: #5DADE2;
	text-align: center;
}

.bio {
	text-align: justify;
	letter-spacing: 2px;
	font-size: 20px;
	padding-left: 35px;
	padding-right: 30px;
}

.bio1 {
	letter-spacing: 1px;
	font-size: 20px;
	padding-left: 35px;
	padding-right: 30px;
}

.skill-row h3 {
	color: #A569BD;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
}

.skill-row1 h3 {
	color: #A569BD;
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
}

.bottom-cloud {
	position: absolute;
	width: 100px;
}

.bio2 {
	letter-spacing: 1px;
	font-size: 22px;
	padding-left: 35px;
	padding-right: 30px;
	padding-bottom: 0;
}

.bio3 {
	letter-spacing: 1px;
	font-size: 20px;
	padding-bottom: 0;
	padding-left: 30px;
	padding-right: 25px;
}

img {
	background-color: #e4f9f5;
	width: 200px;
	border-radius: 5px;
}

.middle-container {
	float: left;
	margin: 0;
	padding: 0px;
	padding-top: 10px;
	padding-left: 50px;
}

.skills h2 {
	font-family: "Lobster", serif;
	color: white;
	margin-top: 0;
	font-size: 50px;
	padding: 0px;
	text-align: center;
	letter-spacing: 2px;
}

.skill-row {
	background-color: #e4f9f5;
	padding: 40px;
	width: 400px;
	height: 500px;
	border-radius: 25px;
	border: 2px solid #73AD21;
	padding: 20px;
	text-align: center;
	float: left;
}

.skill-row1 {
	background-color: #e4f9f5;
	margin-left: 30px;
	float: right;
	width: 400px;
	height: 500px;
	border-radius: 25px;
	border: 2px solid #73AD21;
	padding: 20px;
	text-align: center;
}

hr {
	border: dotted #3ecece 6px;
	border-bottom: none;
	width: 5%;
	margin-top: 100px auto;
}

.contact-me {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.contact-me h2 {
	text-align: center;
	font-family: verdana;
}

.contact-section {
	text-align: center;
	font-family: verdana;
	font-weight: bold;
	font-size: 17px;
}

.contact {
	font-family: verdana;
	font-weight: bold;
	font-weight: 17px;
}

.btn {
	background-color: #3498db;
	border-radius: 20px;
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	font-size: 20px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	margin-left: 180px;
	margin-bottom: 45px;
}

.btn:hover {
	color: #3498db;
	background-color: #ffffff;
	text-decoration: none;
}

.icon {
	background-color: unset;
	width: unset;
	border-radius: unset;
}

.bottom-container {
	padding: 20px;
	height: 100px;
	width: 97.3%;
	text-align: center;
	margin-top: 920px;
	background-color: #66BFBF;
}

#zoom {
	padding: 5px;
	transition: transform .2s;
	width: 20px;
	height: 20px;
	margin: auto;
	
}

#zoom:hover {
	transform: scale(1.3);
}

#zoom img:hover {
	transform: scale(1.3);
}

@media only screen and (max-width: 768px) {
	.bio,
	.bio1,
	.bio2,
	.bio3 {
		width: 100%;
	}
	.middle-container {
		padding-left: 16px;
		padding-right: 16px;
	}
}

#c-link
{
	margin-top:200px;
	text-align: center;
}
