*, ::after, ::before{
    box-sizing: border-box;
}

body {
    margin : 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    color: #40515e;     
}
h1{
    font-size: 90px;
    font-family: 'Times New Roman', cursive;
    margin-top: 50px auto 0 auto ;
    margin-bottom: 0;
    color: #E74C3C
}

h2{
    font-family: 'Merriweather', serif;
    color: #5DADE2;
    padding-bottom: 10px;
}

h3{
    color: #A569BD;
    font-family: 'Montserrat', sans-serif;
}

div {
    background-color : #e4f9f5;
}

.bottom-cloud{
     
     position : absolute;
     width: 100px;
}

.bio{

    width: 30%;
   margin: auto;
   line-height: 2;
   padding: 20px;
}
.bio1{
    width:30%;
    margin: auto;
    line-height: 2;
}

.bio2{

    width: 30%;
    margin: auto;
    line-height: 2;
}
.bio3{

    width: 30%;
    margin: auto;
    line-height: 2;
}
img {
    background-color: #e4f9f5;
    width : 200px;
    border-radius: 15px;
}
.top-cloud{

    width : 100px;
    
}

.top-container{

    margin-bottom: 0;
}
.middle-container{
    margin-top: 0;
    
}

#first-para{
    margin-bottom: 0px;
    font-size: 2.5rem;
    padding-bottom: 45px;
    font-weight: normal;
    color: #66BFBF;
}

.pro{

    text-decoration: underline;
}

.skill-row{

    margin: 100px auto 100px auto;
    width: 50;
}
.bottom-container{

    padding-top: 70px;
    background-color: #66BFBF;
}

hr{
    border: dotted #3ecece 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}
.contact{
    padding-bottom: 40px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 17;
    -moz-border-radius: 17;
    border-radius: 17px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: 45px;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;


  }

  .icon {
    background-color: unset;
    width : unset;
    border-radius: unset;
}


nav ul {
    margin: 0;
    padding: 0;
    float: right;
}
header nav ul li a {
    dispaly: block;
    color:#fff;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
    border-left: solid 1px #333; 
}
 header nav ul li a:hover {
     background:  #222;
 } 
 
 header nav ul li a:active {
     -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0,) insert;
     -moz-box-shadow:0 0 5px rgba(0, 0, 0, 0,) insert;
     box-shadow:0 0 5px rgba(0, 0, 0, 0,) insert;
 }

nav ul li  {
    list-style: none;

#zoom {
    padding: 0px;
    transition: transform .2s; 
    width: 25px;
    height: 25px;
    margin: auto;
}

#zoom:hover {
    transform: scale(1.3); 
}

#zoom img:hover {
    transform: scale(1.3); 
}

@media only screen and (max-width: 768px){
    .bio, .bio1, .bio2, .bio3{
        width: 100%;
    }
    .middle-container{
        padding-left: 16px;
        padding-right: 16px;
    }
}
